<mat-toolbar color="primary">
  <span>{{title}}</span>
</mat-toolbar>

<mat-form-field appearance="fill">
  <mat-label>Select Operation</mat-label>
  <mat-select [formControl]="operation">
    <mat-option value="deposit">Deposit</mat-option>
    <mat-option value="withdraw">Withdraw</mat-option>
    <mat-option value="balance">Balance</mat-option>
  </mat-select>
</mat-form-field>

<div *ngIf="operation.value!=='balance'">
  <mat-form-field appearance="fill">
    <mat-label>Amount String</mat-label>
    <input matInput [formControl]="amount">
  </mat-form-field>
</div>

<button mat-raised-button color="primary" (click)="performOperation()">Perform Operation</button>

<div>
  <h1>Balance = {{balanceToBalanceString(balance)}}</h1>
</div>